{% extends "base.html.twig" %}
{# extends permet d'heriter de tout les blocks definit dans le gabarit de base 'base.html.twig' #}

{% block title %}
    Blog | Home
{% endblock %}

{# le block body fait reference au block body declaré dans le fichier 'base.html.twig' #}
{# Le contenu du bloc 'body' est envoyé dans le bloc 'body' de base.html.twig et l'ensemble est envoyé en réponse sur le navigateur (base + template) #}

{% block body %}

    <h1>Bienvenue sur le blog Symfony</h1>

    {# TWIG est un langage de rendu. Avantage 
        -simplicité du langage : facilités d'ecriture et d'affichage, apporte bcp de fonctionnalites
        - Absence de PHP au sein de nos affichages, permet d'abstraires les affichages des balises PHP
        - Plus simple pour un intégrateur

            {{ }}--> double accolades, c'est ce que l'on appel l'interpolation (ex: affichage variable, execution fonction twig)


            {% %} --> commande TWIG (ex : boucle, condition etc...)
    #}

    {# title : variable TWIG qui provient du controller 'BlogController' de la méthode 'home()' définit dans les paramètres de la méthode de rendu 'render()' #}


    <h2>{{ title }}</h2>


    {# age : variable TWIG qui provient du controller 'BlogController' de la méthode 'home()' définit dans les paramètres de la méthode de rendu 'render()' #}
    {% if age > 18 %}
        <p>Tu es majeur!!</p>
    {% else %}
        <p>Tu es mineur !!</p>
    {% endif %}

{% endblock %}